@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

body{
    list-style: none;
    line-height: 1.8;
    color: #898fa1;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #11245a;

}
a{
    font-weight: 700;
    transition: all 0.4s ease;
}

small{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
}
section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.navbar{
    border-bottom: 1px solid gray;
}
.navbar, .nav-link{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
     

}
.navbar-light, .navbar-nav, .nav-link.active{
    color: #e93881;
}




#home{
    
    
    background: linear-gradient(rgb(17,36,90,0.8), rgb(17,36,90,0.8)), url('images/pic1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    background-color: white;
}
#home h1{
    max-width: 550px;
    margin: auto;
    font-weight: 700;
}
#home p{
    max-width: 550px;
    margin: 12px   auto;
}
.btn{
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 0;

}
.btn-brand{
    background-color: aqua;
    color: #fff;
}
.btn-brand:hover{
   background-color: #e93881;
   color: #fff; 
}

.card{
    transition: all 0.5s ease;
    font-family: 'Lato', sans-serif;

}
.card:hover{
    transform: scale(1.1);
}

.hov{
    transition: all 0.5s ease;

}
.hov:hover{
    transform: scale(1.1);
}

ul {
    margin: 0px;
    padding: 0px;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    margin: 8px 0px;
    display: block;
}



.skills{
    text-align: center;
    align-items: center;
}
 
.testimonial-card .card-up { height: 120px; overflow: hidden; border-top-left-radius:
    0.25rem; border-top-right-radius: 0.25rem; } .testimonial-card .avatar { width: 110px;
    margin-top: -60px; overflow: hidden; border: 3px solid #fff; border-radius: 50%; }



.page-footer {
    margin-top: 300px
}

body {
    background-color: #E0E0E0
}
.footer-copyright{
    text-align: center;
}
.spons{
    transition: all 0.5s ease;

}
.spons:hover{
    transform: scale(1.1);
}

#mydiv{
    animation: changeBg 40s infinite ease-in-out ;
    width: auto;
    height: 200px;
    background-size: cover;
    

   
}

@keyframes changeBg{
    0%,100%  {background-image: url("images/bbq.jpeg") ;}
    25% {background-image: url("images/bbq2.jpeg");}
    50% {background-image: url("images/bbq4.JPG");}
    75% {background-image: url("images/bbq5.JPG");}
}

#mydiv2{
    animation: changeBg2 60s infinite ease-in-out ;
    width: auto;
    height: 200px;
    background-size: cover;
    

   
}

@keyframes changeBg2{
    0%,100%  {background-image: url("images/malewa1.jpg") ;}
    25% {background-image: url("images/malewa2.jpg");}
    50% {background-image: url("images/malewa3.jpg");}
    75% {background-image: url("images/malewa4.jpg");}
}

#mydiv3 {
    animation: changeBg3 40s infinite ease-in-out ;
    width: auto;
    height: 200px;
    background-size: cover;
    

   
}

@keyframes changeBg3{
    0%,100%  {background-image: url("images/paint1.JPG") ;}
    25% {background-image: url("images/paint112.jpg");}
    50% {background-image: url("images/paint3.JPG");}
    75% {background-image: url("images/paint4.JPG");}
}

#mydiv4{
    animation: changeBg4 60s infinite ease-in-out ;
    width: auto;
    height: 200px;
    background-size: cover;
    

   
}

@keyframes changeBg4{
    0%,100%  {background-image: url("images/re1.jpg") ;}
    25% {background-image: url("images/re2.jpg");}
    50% {background-image: url("images/re3.jpg");}
    75% {background-image: url("images/re5.jpg");}
}

#mydiv5 {
    animation: changeBg5 40s infinite ease-in-out ;
    width: auto;
    height: 200px;
    background-size: cover;
    

   
}

@keyframes changeBg5{
    0%,100%  {background-image: url("images/picnic1.jpg") ;}
    25% {background-image: url("images/picnic2.jpg");}
    50% {background-image: url("images/picnic3.jpg");}
    75% {background-image: url("images/picnic4.JPG");}
}

#mydiv6 {  
    animation: changeBg6 60s infinite ease-in-out ;
    width: auto;
    height: 200px;
    background-size: cover;
    

   
}

@keyframes changeBg6{
    0%,100%  {background-image: url("images/pic1.jpg") ;}
    25% {background-image: url("images/pic2.jpg");}
    50% {background-image: url("images/pic3.jpg");}
    75% {background-image: url("images/pic4.jpg");}
}
#mydiv, #mydiv2,#mydiv3,#mydiv4,#mydiv5,#mydiv6 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


